.image-preview{
    width: 75px;
    height: 75px;
    padding: 1em;
}
.image-container {
    box-sizing: border-box;
    border: 5px solid black;
    background-color: rgba(46, 46, 46, 0.4);
}
.image-container .true {
    border: 4px solid white;
}
.hotbar {
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}